<%= div_for product do %>
  <div class="large-12 columns border border-box glassy-bg mt pt">
    <strong><%= h(product.name) %></strong><br />
    <sup class="text-muted">From <%= time_ago_in_words(post.created_at)%></sup><br />
    <div class="mb pb">
      <%= h(product.price) %>
    </div>
    <div class="tags">
      <%=raw product.tag_list %>
    </div>
  </div>
<% end %>